.image-container {
    background: #efefef;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .game-image {
    overflow: hidden;
    max-width: 950px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .selected-area {
    height: 100px;
    width: 100px;
    border: 3px dashed white;
    position: absolute;
    border-radius: 50%;
  }

  .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  
  .game-message {
    background: white;
    border-radius: 3px;
    font-family: 'barlow', sans-serif;
    opacity: 0;
    animation: fadeIn 0.4s ease forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .game-message button {
    background: #121212;
    color: #eaebea;
    font-size: 1.4rem;
    padding: 8px 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
  }
  
  .game-message button:hover {
    background: #232323;
  }