@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* APP */
.app {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

/* SIDEBAR */
.sidebar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 7fr 1fr;
  justify-items: center;
  align-items: center;
}

.sidebar div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.current-time {
  font-family: 'Cousine', sans-serif;
  text-align: center;
}

.character-list {
  font-family: 'Barlow', sans-serif;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* GAME */
.image-container {
  background: #efefef;
}